#plasmo-shadow-container {
  height: 100%;
  width: 48px;
}

#plasmo-inline {
  display: flex;
  height: 100%;
  align-items: center;
}

button {
  all: unset;
  padding: 8px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin-top: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(218, 220, 224, 0.5);
}

.menu {
  position: absolute;
  background: linear-gradient(45deg, #b1e8b3, #ffffff);
  top: 45px;
  right: 0px;
  padding: 10px;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #b1e8b3;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.bell {
  height: 100%;
}

.badge {
  background-color: #f00;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  padding-bottom: 1px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.brand {
  font-weight: 700;
}

.message {
  margin-top: 4px;
  color: #333;
}
